# Lecture 8: July 12th, 2023

__Week 3 Reminders:__
 - Take MATLAB checkpoint quizzes, even if you are waiting on the grades for GOMa4 and GOMa5 from last week. The checkpoints can only help your grade.
 - EO2 and GOPy2 outcome quizzes released.
 - Python Homework #1 due next Wednesday. Start early!

## Getting Started with Jupyter Notebook

There are two main types of cells in Jupyter notebook. This is an example of a markdown cell. All this means, is that this cell does not run code. It is used for text, images, links, etc.

 - To create a new cell, press `esc` and then `b` for a cell below, or `a` for a cell above
 - To toggle between code cells and markdown cells, press `m` for markdown, or `y` for code.

In [3]:
#this is an example of a code cell
#notice that I'm writing this is a comment
2+2

4

If you're familiar with HTML, many of the same tricks work here. For example, here is how I could change text...
* `__bold__` gives __bold__
* `___it___` gives ___it___
* `<font color = red> RED </font>` gives <font color = red> RED </font>

If you're familiar with LaTeX, you can typeset math by wrapping your code in $$...
 - `$\sin(x)$` gives $\sin(x)$
 - `$\int_0^1 e^x dx$` gives $\int_0^1 e^x dx$

## Python Data Types

Our first Python unit introduces a number of new data types, and a few familiar ones. It may seem that Python has an endless number of data types, but focus this week on really understanding the data types that are presented. In upcoming units, we may see less common data types that are presented once or twice, just as a way to show you that they exist.

### lists and strings
Why start here? On the surface, lists and strings seem very different, but we will soon see they have many similarities...

In [6]:
s = "Hello World" #no error, and no output

In [8]:
type(s)

str

In [13]:
print(s)

Hello World

In [10]:
s2 = 'Hello World' #notice single quotes
type(s2)

str

In [11]:
print(s2)

Hello World

Single quotes and double quotes in Python have no difference. The convention is to pick one and stick to it.

In [14]:
mylist = [3,1,4,1]

In [15]:
type(mylist)

list

In [16]:
mylist2 = [3 1 4 1] #Notice, I have to use commas

SyntaxError: invalid syntax (821188930.py, line 1)

In [17]:
mylist

[3, 1, 4, 1]

Here is a big difference from our MATLAB unit: <font color = red> Indexing in Python starts at 0!</font>

In [18]:
mylist[0]

3

In [19]:
mylist[1]

1

In [20]:
len(mylist)

4

In [21]:
s

'Hello World'

In [22]:
s[0]

'H'

In [23]:
s[1]

'e'

In [25]:
len(s)

11

What goes wrong in this next example is that `s` ___does___ have 11 elements, but they are indexed from 0 to 10. There is no index 11. Notice also that the space counts as an element.

In [24]:
s[len(s)] #s[11]

IndexError: string index out of range

So what if I actually did want to get the last element? Here are a few different ways.

In [26]:
s[len(s)-1]

'd'

In [27]:
s

'Hello World'

In [31]:
s[-1] #this gives the last element! Start counting backwards at -1

'd'

In [29]:
s[-2]

'l'

In [30]:
s[-3]

'r'

In [32]:
mylist

[3, 1, 4, 1]

In [33]:
mylist[-1]

1

In [34]:
mylist[-2]

4

### Slicing
Slicing should remind you a lot of the colon command from MATLAB. Indeed, it is quite similar, but with a few key syntax differences.

In [35]:
s

'Hello World'

In [36]:
#Start at the entry of index 1, and go up to, but don't include
#the entry of index 4
s[1:4]

'ell'

Almost always in Python you include the left endpoint, and do not include the right endpoint.

In [37]:
s(:5) #Take the first 5 elements

SyntaxError: invalid syntax (3406753339.py, line 1)

Yasmeen made a syntax mistake above! She is too used to MATLAB :(

In [38]:
s[:5]

'Hello'

In [39]:
s[0:5]

'Hello'

In [40]:
s[3:] #start at index 3, and go all the way to the end

'lo World'

All of this slicing works exactly the same for lists.

In [41]:
#Start at index 1, go up to, but don't include index 7,
#count by 2
print(s)
s[1:7:2]

Hello World

'el '

In [42]:
print(s)
s[1:8:2]

Hello World

'el o'

In [43]:
#Start at index 0, go to the end, count by 2
print(s)
s[::2]

Hello World

'HloWrd'

In [44]:
#What if we want the complement?
s[1::2]

'el ol'

### lists, tuples, and sets
We've already seen lists, but now we contrast them with two other data types that seem very similar, at least on the surface.

In [138]:
mylist = [3,1,4,1]
mytuple = (3,1,4,1)
myset = {3,1,4,1}

In [46]:
type(mylist)

list

In [47]:
type(mytuple)

tuple

In [48]:
type(myset)

set

Set is really like sets in the Math 13 sense...
 - No duplicates
 - No ordering

In [139]:
#no duplicates
myset

{1, 3, 4}

In [50]:
#no order
myset[0]

TypeError: 'set' object is not subscriptable

In [51]:
mytuple[0]

3

In [52]:
mylist[0]

3

In [53]:
len(mytuple)

4

In [54]:
len(mylist)

4

In [55]:
len(myset)

3

__Key fact:__ Lists can be changed once they are made. Lists are called ___mutable___.

In [62]:
mylist = [3,1,4,1]

In [63]:
mylist[2] = 19
mylist

[3, 1, 19, 1]

In [64]:
mytuple

(3, 1, 4, 1)

In [65]:
mytuple[2] = 19

TypeError: 'tuple' object does not support item assignment

In [66]:
mylist.append(10)
mylist

[3, 1, 19, 1, 10]

In [67]:
mytuple.append(10)

AttributeError: 'tuple' object has no attribute 'append'

After the past few examples, you might be tempted to think that list is better than tuple! Let me now convince you that this is not the case, and that these distinct data types serve distinct purposes...

In [69]:
newset = {3,1,(4,1)}
len(newset) #the tuple counts as a single element.

3

In [70]:
newset2 = {3,1,[4,1]}

TypeError: unhashable type: 'list'

__Main Takeaway:__ tuples can go in a set and be keys in a dictionary, while lists cannot.

### ranges and for-loops
Our next data type is commonly used with for-loops, and should also remind you of the colon command from MATLAB.

In [71]:
mystring = "Hello World"
mylist = [3,1,4,1]
mytuple = (3,1,4,1)
myset = {3,1,4,1}

Here is the basic syntax for for-loops in Python. Key things to notice:
* The `:` at the end of the first line
* The indentation to enter the for-loop

In [72]:
for x in mylist:
    print(x)

3
1
4
1

In [74]:
for x in mystring:
    print(x)
    print(type(x))
    print(len(x))

H
<class 'str'>
1
e
<class 'str'>
1
l
<class 'str'>
1
l
<class 'str'>
1
o
<class 'str'>
1

<class 'str'>
1
W
<class 'str'>
1
o
<class 'str'>
1
r
<class 'str'>
1
l
<class 'str'>
1
d
<class 'str'>
1

Notice that whatever we take out of the indentation is not executed until after we finish the for-loop.

In [75]:
for x in mystring:
    print(x)

print(type(x))
print(len(x))

H
e
l
l
o

W
o
r
l
d
<class 'str'>
1

In [76]:
for x in mytuple:
    print(x)

3
1
4
1

In [77]:
for x in myset:
    print(x)

1
3
4

Based on the above, you may be tempted to think that sets have an order. They do not! You should never base functionality of code on sets having an order.

In [78]:
for i in range(5):
    print(i)

0
1
2
3
4

In [79]:
myrange = range(5)
myrange

range(0, 5)

In [80]:
type(myrange)

range

In [82]:
myrange2 = range(10,3,-1)
type(myrange2)

range

In [83]:
for x in myrange2:
    print(x)

10
9
8
7
6
5
4

Key observation: range objects must follow a particular pattern, so we can't get digits of $\pi$, for instance...

In [85]:
myrange3 = range(3,1000)
myrange3[0]

3

In [86]:
myrange3[-1]

999

In [87]:
myrange3[10:100:4] #notice this returns a range object

range(13, 103, 4)

In [88]:
myrange3[10]

13

In [89]:
len(myrange3)

997

### ints, floats, bools
We are already familiar with all of these data types from our previous units! Let's review them briefly here.

In [90]:
z = 10/2
z == 5

True

In [91]:
True #notice this is highlighted in green!

True

In [92]:
False

False

In [93]:
type(True)

bool

In [94]:
type(true)

NameError: name 'true' is not defined

In [95]:
range(5)

range(0, 5)

In [96]:
range(z)

TypeError: 'float' object cannot be interpreted as an integer

In [97]:
type(z)

float

In [98]:
z

5.0

In [99]:
(0.1 + 0.1 + 0.1) == 0.3

False

### dictionaries
This is one of my personal favorite Python data types, and also one of the most common. They start off looking pretty similar to sets, but are an entirely diferent data type.

In [100]:
d = {"A":90, "B":80,"C":70,"D":60,"F":0}

Terminology: 
 * "A" through "F" are called the ___keys___ of the dictionary
 * 90 through 0 are called the ___values___ of the dictionary

In [101]:
type(d)

dict

In [103]:
d[0] #d[key] looks for key and returns its value.
#here, there is no key called 0

KeyError: 0

In [105]:
d["B"] #give the value corresponding to "B"

80

In [106]:
d[0] = [3,1,4,1]

In [107]:
d

{'A': 90, 'B': 80, 'C': 70, 'D': 60, 'F': 0, 0: [3, 1, 4, 1]}

Values can be almost anything that you want. Keys are more tricky, not just anything can be a key in a dictionary.

In [108]:
#update the value of "B"
d["B"] = 85

In [109]:
d

{'A': 90, 'B': 85, 'C': 70, 'D': 60, 'F': 0, 0: [3, 1, 4, 1]}

Notice, you can only have one value for each key.

In [110]:
d["0"] = {"Hello":"first word","World":"second word"}

In [111]:
d

{'A': 90,
 'B': 85,
 'C': 70,
 'D': 60,
 'F': 0,
 0: [3, 1, 4, 1],
 '0': {'Hello': 'first word', 'World': 'second word'}}

We quickly remind ourselves of some key differences between lists and sets...

In [112]:
#Error! Lists cannot go in a set
myset = {3,1,[4,1]}

TypeError: unhashable type: 'list'

In [113]:
myset = {3,1,(4,1)}

We will now see that dictionary keys have similar restrictions!

In [114]:
d[[4,1]] = "Yasmeen"

TypeError: unhashable type: 'list'

Upshot: Lists cannot be keys in a dictionary.

In [115]:
d[(4,1)] = "Yasmeen"

In [116]:
d

{'A': 90,
 'B': 85,
 'C': 70,
 'D': 60,
 'F': 0,
 0: [3, 1, 4, 1],
 '0': {'Hello': 'first word', 'World': 'second word'},
 (4, 1): 'Yasmeen'}

Upshot: Tuples can be keys in a dictionary

### Converting between data types
We often want to convert from one data type to another. This is called ___casting___, and we will see a few examples below.

In [117]:
mylist = [3,1,4,1]
tuple(mylist)

(3, 1, 4, 1)

In [118]:
mylist

[3, 1, 4, 1]

In [119]:
x = tuple(mylist)

In [120]:
type(x)

tuple

In [121]:
s = "Hello World"
list(s)

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [122]:
for x in s:
    print(x)

H
e
l
l
o

W
o
r
l
d

In [123]:
mylist

[3, 1, 4, 1]

In [124]:
#Don't expect this to work
dict(mylist)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

We can convert a list to a dictionary, if we're a little more careful and make it easy for Python to gather key-value pairs.

In [126]:
mylist2 = [(3,"a"),(1,"b"),(1,"c")]

In [128]:
#Remember, each key can only have one value
dict(mylist2)

{3: 'a', 1: 'c'}

Notice that the value corresponding to 1 got updated from "b" to "c".

In [129]:
True

True

In [130]:
False

False

In [131]:
int(True)

1

In [132]:
int(False)

0

In [133]:
4 + True

5

In [134]:
4 + False

4

### Timing comparisons

We won't start this section today, but let me show you a few relevant things...

In [135]:
#Say I want to get 10^7, this will return something strange
10^7

13

Be careful, then `^` operation does not exponentiate. You don't need to worry about what it does, just know that here is how we can actually exponentiate.

In [136]:
10**7

10000000